<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>51923360077-6ag3qo0vuv7vbcfjcmc0u68sshebe3lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51923360077-6ag3qo0vuv7vbcfjcmc0u68sshebe3lr</string>
	<key>API_KEY</key>
	<string>AIzaSyCwuKUdBTskT2j5OkNOZalbI4JWKN6po4s</string>
	<key>GCM_SENDER_ID</key>
	<string>51923360077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.photomon</string>
	<key>PROJECT_ID</key>
	<string>photomon-dev-1b758</string>
	<key>STORAGE_BUCKET</key>
	<string>photomon-dev-1b758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51923360077:ios:9ca2a951abf5b2e8</string>
	<key>DATABASE_URL</key>
	<string>https://photomon-dev-1b758.firebaseio.com</string>
</dict>
</plist>